<div class="container">
  <div class="row">
    <div class="pera col-sm-4">
      <div>
        <br />
        <br />
        <table class="details table">
          <tr>
            <th colspan="2" class="headDetail">Job details</th>
          </tr>
          <tr>
            <th>Job name</th>
            <td>{{ jobDetail.jobname }}</td>
          </tr>
          <tr>
            <th>Job description</th>
            <td>{{ jobDetail.jobdescription }}</td>
          </tr>
          <tr>
            <th>Company name</th>
            <td>{{ jobDetail.companyname }}</td>
          </tr>
          <tr>
            <td colspan="2"><button class="btn btn-primary" (click)="applyJob()">
                Apply
              </button></td>

          </tr>
        </table>
      </div>
    </div>
  </div>
  <br />
</div>